<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav id="sidebar" class="sidebar js-sidebar">
        <div class="sidebar-content js-simplebar">
            <a class="sidebar-brand" href="index.html">
      <span class="align-middle">Medicare Inc.</span>
    </a>

            <ul class="sidebar-nav">
                <li class="sidebar-item active">
                    <a class="sidebar-link" href="index.php">
                        <i class="fa-solid fa-gauge"></i><span class="align-middle">Dashboard</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" href="pages-profile.php">
                    <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" href="pages-sign-in.html">
                        <i class="fa-solid fa-right-to-bracket"></i><span class="align-middle">Sign In</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" href="pages-sign-up.html">
                        <i class="fa-solid fa-user-plus"></i> <span class="align-middle">Sign Up</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="manage_users.html">
                    <i class="fa-solid fa-users"></i>Manage Users</a></li>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="index.php">
                        <i class="fa-solid fa-notes-medical"></i><span class="align-middle">Manage Health Records</span>
                </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="finance-management.php">
                        <i class="fa-solid fa-coins"></i> <span class="align-middle">Finance Management</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" href="../../../views/dashboard/admin/accounts_reconciliation.html">
                        <i class="fa-solid fa-file-invoice"></i><span class="align-middle">Accounts Management</span>
        </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" href="../../../views/dashboard/admin/system_statistics.html">
                        <i class="fa-solid fa-chart-simple"></i><span class="align-middle">System Statistics</span>
                    </a>
                </li>
        </div>
    </nav>
</body>
</html>